<nav class="bottom-nav" aria-label="Нижняя навигация">
  <a href="/" class="bottom-nav__item" data-bottom-nav="home">
    <i class="fas fa-home"></i>
    <span>Главная</span>
  </a>
  <a href="/books" class="bottom-nav__item" data-bottom-nav="search">
    <i class="fas fa-search"></i>
    <span>Поиск</span>
  </a>
  <a href="/profile/books" class="bottom-nav__item" data-bottom-nav="shelf">
    <i class="fas fa-bookmark"></i>
    <span>Полка</span>
  </a>
  <a href="/notifications" class="bottom-nav__item bottom-nav__notifications" data-bottom-nav="notifications">
    <span class="bottom-nav__icon-wrap">
      <i class="fas fa-bell"></i>
      <% if (user) { %>
        <span class="notification-badge bottom-nav__badge" id="notificationBadgeBottom" style="display: none;">0</span>
      <% } %>
    </span>
    <span>Уведомления</span>
  </a>
  <a href="/profile" class="bottom-nav__item" data-bottom-nav="profile">
    <i class="fas fa-user"></i>
    <span>Профиль</span>
  </a>
</nav>